@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: #777777;
}

h1{
	font-sizr: 40px;
}
h2{
	font-size: 26px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 20px;
}
h5{
	font-size: 18px;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
/*header style*/
.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav ul{
	list-style:none;
	display: flex;
	flex-direction: row;
}

.nav ul li a{
	text-decoration: none;
	font-size: 14px;
	color: #272727;
	font-weight: bold;
	padding: 15px;
	text-transform: uppercase;
}
.nav ul li a:hover{
	background-color: #ff3c41;
	color: #fff;
}

/*banner style*/
.container-fluid{
	width: 100%;
}
.slider img{
	width: 100%;
}


.title{
	margin: 40px auto 20px auto;
	text-align: center;
}
.title h1{
	text-transform: capitalize;
	color: #1b1b1b;
}

.content{
	width: 540px;
	margin: 15px;
}
.content p{
	margin: 15px 0;
}
#read-more-btn{
	border: 3px solid #daf5ff;
    color: #3c3c3c;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 15px;
    background: none;
}

.line
{
	height: 1px;
	width: 100%;
	background-color: #fbfbfb;
}

.service_item 
{
	width: 350px;
	margin: 15px;
	padding: 30px 0;
	display: flex;
	flex-direction: row;
}
.service_item i
{
	font-size: 40px;
	color: #76daff;
	margin-right: 20px;
}
.service_item h4
{
	letter-spacing: 2px;
	color: #222222;
	padding-bottom: 15px;
}


.what_we_do_item
{
	width: 255px;
	margin: 15px;
	text-align: center;
	padding: 20px 0 50px 0;
	background-color: #1c1c1c;
}
.what_we_do_icon
{
	width: 122px;
	height: 122px;
	border: 2px solid #fff;
	font-size: 40px;
	color: #fff;
	line-height: 122px;
	margin: 15px auto;
	border-radius: 50%;
}
.what_we_do_item h4
{
	letter-spacing: 2px;
	color: #fff;
}
.what_we_do_item p
{
	font-size: 15px;
	line-height: 20px;
}
.what_we_do_item:hover .what_we_do_icon
{
	border-color: #76daff;
	color: #76daff;
}